<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/album.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>album</title>
</head>
<body>
    <form action="/addalbum" method="post">
        <p>Album title</p><input type="text" name="title"/></br>
        <p>Album artist</p><input type="text" name="artist"/></br>
        <p>Album length</p><input type="text" name="length"/></br>
        <p>Album song count</p><input type="text" name="songCount"/></br>
        <p>Album imageURL</p><input type="text" name="imageURL" /></br>

        <button type="submit">Submit</button>
    </form>

    <ul th:each="album: ${albumsList}">
        <p>ID</p><span th:text="${album.id}"></span>
        <p>Album title :</p><span th:text="${album.title}"></span>
        <p>Album artist :</p><span th:text="${album.artist}"></span>
        <p>Album length :</p><span th:text="${album.length}"></span>
        <p>Album song count :</p><span th:text="${album.songCount}"></span>
        <p>imageURL</p><span th:text="${album.imageURL}"></span>
        <p>-------------------------------------------------------------</p>
    </ul>
</body>
</html>